aside {  
  position: fixed;
  right: 50px;
  top: calc(50% - 50px);
}
aside ul {
  
}
aside ul li:not(:last-child) {  
  margin-bottom: 30px;
}
aside ul li a {  
  font-size: 0;
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}
aside ul li:hover a{  
  box-shadow: 0 0 15px white;
}