aside {  
  position: fixed;
  right: 50px;
  top: calc(50% - 50px);
}
aside ul {
  
}
aside ul li{
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
}
aside ul li:not(:last-child) {  
  margin-bottom: 30px;
}
aside ul li a {  
  font-size: 0;
  display: block;
  width: 4px;
  height: 4px;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -2px;
  border-radius: 50%;
}

.side{
  border: 1px solid;
  border-radius: 50%;
}