footer{
  height: 80px;
  background-color: black;
  position: relative;
}
footer .wrap {   
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer .wrap p {   
  color: white;
  font-size: 14px;
}
footer .top{
  font-size: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: calc((100% - 1440px) / 2 - 120px);
  top: -150px;

  background-color: black;
}
footer .top:before{
  content: "";
  background-image: url(../img/top2.svg);
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}
footer .top:hover{  
  background-color: #8997a9;
}