/* 상단영역 */
header{   /* 너비지정 */
  margin: 0 auto; /* 중앙정렬 */
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #eee;
  z-index: 1;
}
.headerUP{
  position: fixed;
  top: 0;
  animation-name: up;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
@keyframes up{
  100%{
    top: -60px
  }
}
header .wrap{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: black;
  width: 1800px;
}
header h1{

}
header h1 a{

  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: bold;
  color: black;
}
header ul{
  display: flex;
  gap: 79px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  transform: translateX(-20%);
}
header ul li{

}
header ul li a{
  text-transform: uppercase;
  color: black;
}
header .wrap>a{  
  font-size: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* 타이틀 영역 */
div#title{
  background-color: #eee;
  height: 100%;
  min-height: 700px;
}
div#title div.wrap{ /* 하위선택자 */
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 50%;
}
div#title div.wrap h2 {
  font-family: 'Playfair Display', serif;
  font-size: 180px;
  margin: 60px 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
div#title div.wrap h2 span{  
  position: relative;
  animation: titleA 1.5s ease infinite;
  letter-spacing: 10px;
}
@keyframes titleA { 
  0% { top: 0; } 
  50% {top: 10px}
  100% { top: 0 } 
}
div#title div.wrap h2 span:nth-child(1){
  animation-delay: 0.1s;
}
div#title div.wrap h2 span:nth-child(2){
  animation-delay: 0.2s;  
}
div#title div.wrap h2 span:nth-child(3){
  animation-delay: 0.3s;  
}
div#title div.wrap h2 span:nth-child(4){
  animation-delay: 0.4s;  
}
div#title div.wrap h2 span:nth-child(5){
  animation-delay: 0.5s;  
}
div#title div.wrap h2 span:nth-child(6){
  animation-delay: 0.6s;  
}
div#title div.wrap h2 span:nth-child(7){
  animation-delay: 0.7s;  
}
div#title div.wrap h2 span:nth-child(8){
  animation-delay: 0.8s;  
}
div#title div.wrap h2 span:nth-child(9){
  animation-delay: 0.9s;  
}
div#title .eng {
  
}
div#title .eng ul {  
  display: flex;
  justify-content: space-between;
  height: 450px;
}
div#title .eng ul li {  
  width: calc(100% / 5);

  font-size: 0;
  margin: 5px;
}
div#title::after{
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  background-image: url(../img/eng2.png);
  min-height: 700px;
  border-top: 3px solid #ccc;
}

