section#skill{
    background-color: #eee;
    height: 100vh;
    box-sizing: border-box;
    min-height: 600px;
    color: black;
  }
section#skill .wrap{
    margin-bottom: 50px;
    width: 1000px;
    display: flex;
    height: 500px;
    border-bottom: 1px solid;
    box-sizing: border-box;
  }
section#skill .wrap h2{
  font-size: 100px;
  }
section#skill .wrap h2::after{
  content: "";
  /*! background-image: url(../img/eng3.png); */
  display: block;
  width: 235px;
  height: 408px;
  transform: translateX(-15px);
}
section#skill .wrap p{  
  padding-top: 15px;
  }
section#skill .wrap ul{  
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  border-top: 1px solid;
  padding: 80px;
  transform: translateX(50px);
  margin-top: 50px;
  }
section#skill .wrap ul li{  
  /*! width: 100px; */
  height: 100px;
  text-align: center;
  width: calc(25% - 30px);
  }
section#skill .wrap ul li::before{
  content:"";
  height: 100%;
  display: block;
  margin-bottom: 10px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
section#skill .wrap ul li:nth-child(1)::before{
  background-image: url(../img/ps.png);
}
section#skill .wrap ul li:nth-child(2)::before{
  background-image: url(../img/ai.png);
}
section#skill .wrap ul li:nth-child(3)::before{
  background-image: url(../img/html.png);
}
section#skill .wrap ul li:nth-child(4)::before{
  background-image: url(../img/css.png);
}
section#skill .wrap ul li:nth-child(5)::before{
  background-image: url(../img/jquery.png);
}
section#skill .wrap ul li:nth-child(6)::before{
  background-image: url(../img/js.png);
}
section#skill .wrap ul li:nth-child(7)::before{
  background-image: url(../img/vv.png);
}
section#skill .wrap ul li:nth-child(8)::before{
  background-image: url(../img/젠코딩.png);
}




